<!--<?xml version="1.0" encoding="utf-8" ?>-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmartBiz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\\dat\\SmartBiz_db.mdb"/>


    <!--Banglore Dummy-->
    <!--<add key="SqlConString"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraBlr1_Dummy;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Bengaluru"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraBlr1;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Hyderabad"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraHyd1;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Gurgaon"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraDel1;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Mumbai"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraMum1;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />-->

    <!--qms server-->
    <!--<add key="SqlConString"         value= "Data Source=ec2-15-206-206-108.ap-south-1.compute.amazonaws.com; Initial Catalog=QMS; User ID=QMS_Dev_internal; Password=QMS_Dev_internal@123; Integrated Security=false;Connection Timeout=60000000;" />-->
    <!--<add key="SqlConString"         value= "Data Source=ec2-15-206-206-108.ap-south-1.compute.amazonaws.com; Initial Catalog=QMS; User ID=sa; Password=DkhIN@Aws900; Integrated Security=false;Connection Timeout=60000000;" />-->
   
    <!--lOCAL SERVER-->
    <!--<add key="XMLKey" value="Activity"/>
    <add key ="XMLFilepath" value="C:\Users\95398\Downloads\YOURCENTER1DXB_CLAIM_YC1DX1093_1865_0 (1).xml"/>
    <add key="SqlConString"     value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />
    <add key="LogSqlConString"    value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test_Log; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />-->
    
    
    <add key="SqlConString"     value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Hyderabad"     value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Mumbai"     value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Gurgaon"     value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test_Log; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />
    <add key="Bengaluru"     value= "Data Source=INBOOK_X1; Initial Catalog=NuraMumbai_test; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />
    
    
    <!--Delhi production-->
    <!--<add key="SqlConString"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraDel1;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />-->

    <!--yc books-->
    <!--<add key="SqlConString"         value= "Data Source=desktop-n08qodh; Initial Catalog=YcBooks; User ID=sa; Password=123456; Integrated Security=false;Connection Timeout=60000000;" />-->

    
    <!--ddc list-->
    <!--<add key="SqlConString"         value= "Data Source=20.74.255.155,59599; Initial Catalog=YCD1PClinicHms_Dummy; User ID=YCD1P_Dummy; Password=YCD1PD@900; Integrated Security=false;Connection Timeout=600000000;" />-->


    <!--<add key="SqlConString"         value= "Data Source=ndbs.nura-in.com,59599;Initial Catalog=HMSNuraHO_Dummy;User ID=sa;Password=Sa@FFDKH;Integrated Security=false;Connection Timeout=60000000;" />-->
    <add key="ErrorLog_path" value="A:\soxo\New Cshms\Cshms_Dev\Akshay\Error\Error.text"/>
    <add key="DDC_CODE_path" value="A:\soxo\New Cshms\Cshms_Dev\Akshay\Error\EXISTING_DDC_CODES.text"/>
    <add key="SType"  value="" />
    <add key="EnableSll"  value="N" />
    <add key="CreditDetails"  value="Y" />
    <add key="MailCamp"  value="Y" />
    <add key="BackupRequired" value="N" />
    <add key="DbName" value="QMS"/>
    <add key="BackupPath" value="C:\SQLAutoBackupALL\"/>
  </appSettings> 
</configuration>
